$text-color: #505050;

.detail {
  text-align: center;
  &__slide {
    min-height: 100vh;
  }
  &__clientlogo {
    position: fixed;
    bottom: 10px;
    left: 10px;
  }
  &__nitecologo {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  &__brief-image {
    width: 100vw;
    height: auto;
  }
  &__brief-name {
    font-size: 4vw;
    color: $text-color;
    margin-top: 2vh;
    line-height: 4vw;
    margin-bottom: 2vh;
    font-weight: 900;
  }
  &__brief-description {
    font-size: 2vw;
    margin: 0px 20px;
    overflow: hidden;
    color: $text-color;
  }
  &__solution-image {
    width: 100vw;
    margin-top: 30px;
    margin-bottom: 10px;
    height: auto;
    padding: 10px;
  }
  &__solution-name {
    font-size: 4vw;
    color: $text-color;
    margin-top: 2vh;
    line-height: 4vw;
    margin-bottom: 2vh;
    font-weight: 900;
  }
  &__solution-description {
    white-space: pre-line;
    margin: 0px 130px;
    font-size: 2vw;
    color: $text-color;
  }
  &__technical {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    &__image-container {
      flex: 0.7;
      overflow: hidden;
      padding: 20px;
    }
    &__content {
      flex: 0.3;
    }
  }
  &__technical-image {
    width: 100%;
    height: auto;
  }
  &__technical-item {
    color: $text-color;
    flex: 1;
    list-style-type: none;
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAbBAMAAAAE3iuqAAAAMFBMVEUAAADFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcXFxcVjt1ybAAAAD3RSTlMAZhHMme67dzOqVUQi3Yih5/lnAAAAhElEQVQoz2XOsQ2DUAyEYTJJMkMmyBgpMwMLJIOkZgcqRmAFRkACSnRYBvODuerp3SfbxTnVv0i5afqlr7v0zkjBQJZPQpb+gtRd0Oi3lEf08nJ4JGTlMyMZO6FGMraizX/lzNE2tV3bQCyad8SmQDAQDAQDOQPBQLBAMBAMBAtE6pL3AvzZrSIzsnBuAAAAAElFTkSuQmCC);
    padding: 0;
    line-height: 50px;
    text-align: left;
  }
}
